# Gradle project-specific cache directory
.gradle

# Gradle build output directory
build

# IDEA project files
modules.xml
*.iml
*.ipr

# Application build files
*.ini

# Local project files
local.properties
/reports/*
/lib/*